apiVersion: apps/v1
kind: Deployment
metadata:
  name: librespeed
  namespace: speedtest
  labels:
    app: librespeed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: librespeed
  template:
    metadata:
      labels:
        app: librespeed
    spec:
      nodeSelector:
        role: worker
      containers:
        - name: librespeed
          image: lscr.io/linuxserver/librespeed:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: America/Argentina/Buenos_Aires
            - name: TELEMETRY
              value: "true"
          envFrom:
            - secretRef:
                name: librespeed-env
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: librespeed-data
