apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: vaultwarden
  labels:
    app: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:1.34.3
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 80
              name: http
            - containerPort: 9090
              name: metrics

          env:
            - name: DOMAIN
              value: "https://vault.finalq.xyz"   # tu dominio real

            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secrets
                  key: ADMIN_TOKEN

            - name: SIGNUPS_ALLOWED
              value: "false"

            - name: INVITATIONS_ALLOWED
              value: "false"

            - name: LOG_LEVEL
              value: "info"

            - name: ROCKET_PORT
              value: "80"

            - name: WEBSOCKET_ENABLED
              value: "true"

            - name: ENABLE_METRICS
              value: "true"

            - name: METRICS_PORT
              value: "9090"

          volumeMounts:
            - name: data
              mountPath: /data

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data