apiVersion: v1
kind: Service
metadata:
  name: vaultwarden
  namespace: vaultwarden
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Vaultwarden
    gethomepage.dev/group: Security
spec:
  type: NodePort
  selector:
    app: vaultwarden
  ports:
    - name: http
      port: 80          # puerto del service
      targetPort: 80    # puerto del contenedor
      nodePort: 30080   # puerto expuesto en los nodos